<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Долина Имений 1</title>
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.transitions.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/vendor/sweet-alert/sweetalert.css">
    <link rel="stylesheet" href="/vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    //= partials/hero.html
    //= partials/actions.html
    //= partials/how-to-buy.html
    //= partials/advantages.html
    //= partials/news.html
    //= partials/plan.html
    //= partials/gallery.html
    //= partials/callback-row.html
    //= partials/map.html
    //= partials/footer.html

    //= partials/callback-modal.html

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendor/sweet-alert/sweetalert.min.js"></script>
    <script src="/vendor/ajax-forms/ajax-form.js"></script>
    <script src="/vendor/fancybox/jquery.fancybox.pack.js"></script>
    <script src="js/app.js"></script>
</body>
</html>