<div class="advantages-row">
    <div class="container">
        <div class="ribbon">Наши преимущества</div>

        <div class="advantages">
            <div class="advantage"><i class="icon icon-check"></i> Киевское <br> шоссе</div>
            <div class="advantage"><i class="icon icon-check"></i> 86км <br> от МКАД</div>
            <div class="advantage"><i class="icon icon-check"></i> все <br> коммуникации</div>
            <div class="advantage"><i class="icon icon-check"></i> 24 часа <br> охрана</div>
            <div class="advantage"><i class="icon icon-check"></i> поселок <br> сдан</div>
        </div>
    </div>
</div>