<footer class="footer">
    <div class="container">
        <div class="footer-blocks">
            <div class="footer-block block-1">
                <p class="copyright">© 2016, Долина имений</p>
                <div class="logo-and-phone">
                    <div class="logo-sm"></div>
                    <a href="#" class="phone-link">+7 (495) 221-22-80</a>
                </div>
            </div>

            <ul class="footer-block links">
                <li class="main"><a href="#">Главная</a></li>
                <li><a href="#">“Долина имений”</a></li>
            </ul>

            <ul class="footer-block links">
                <li class="main"><a href="#">Поселки</a></li>
                <li><a href="#">Боровики-2</a></li>
                <li><a href="#">Тишнево 1,2,3</a></li>
                <li><a href="#">Промземля</a></li>
            </ul>

            <ul class="footer-block links">
                <li class="main"><a href="#">О поселке</a></li>
                <li><a href="#">Инфраструктура</a></li>
                <li><a href="#">Экология</a></li>
                <li><a href="#">Окружение</a></li>
            </ul>

            <ul class="footer-block links">
                <li class="main"><a href="#">Как купить</a></li>
                <li><a href="#">Ипотека</a></li>
                <li><a href="#">Зайстройщики</a></li>
            </ul>
        </div>

        <div class="footer-row">
            <p class="creator">Разработка <a href="#" target="_blank" class="ddlab-logo"></a></p>
            <ul class="menu">
                <li><a href="#">Генплан</a></li>
                <li><a href="#">Как проехать к поселку</a></li>
                <li><a href="#">Фотогалерея</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>