<div class="gallery">
    <div class="gallery-inner">
        <div class="container">
            <div class="title">Фотогалерея</div>
        </div>

        <div id="carousel" class="owl-carousel">
            <div class="item"><img src="https://images.nikitakiselev.ru/random/300/235?1" alt=""></div>
            <div class="item"><img src="https://images.nikitakiselev.ru/random/300/235?2" alt=""></div>
            <div class="item"><img src="https://images.nikitakiselev.ru/random/300/235?3" alt=""></div>
            <div class="item"><img src="https://images.nikitakiselev.ru/random/300/235?4" alt=""></div>
            <div class="item"><img src="https://images.nikitakiselev.ru/random/300/235?5" alt=""></div>
            <div class="item"><img src="https://images.nikitakiselev.ru/random/300/235?6" alt=""></div>
            <div class="item"><img src="https://images.nikitakiselev.ru/random/300/235?7" alt=""></div>
            <div class="item"><img src="https://images.nikitakiselev.ru/random/300/235?8" alt=""></div>
        </div>
    </div>
</div>