<div class="hero">
    <div class="container">
        //= navbar.html
        <div class="hero-box">
            <h1 class="hero-title">О поселках</h1>
        </div>

        <div class="hero-text-1">
            Поселок «Тишнево - 1» расположен в 11 км. от г. Боровска вдалеке от транспортных путей. Всего в четырех километрах от «Тишнево - 1» находится собственное молочное производство «Долины имений». «Тишнево - 1» ближе других поселков «Долины имений» к охотхозяйству «Озерное» и озеру Межура. Примечательно и то, что поселок непосредственно граничит с Московской областью.
        </div>

        <div class="hero-text-2">
            Поселок «Тишнево - 2» — это не просто продолжение и вторая очередь «Тишнево - 1», но и возможность пользоваться всеми преимуществами первого поселка. Кроме того, только в «Тишнево - 2» вы можете приобрести настоящие лесные участки в собственность!
        </div>
    </div>
</div>