<div class="hero">
    <div class="container">
        //= navbar.html
        <div class="hero-box">
            <div class="lbl">Поселок</div>
            <h1 class="hero-title">Солнечная долина</h1>
        </div>

        <div class="hero-description">"Солнечная долина" - поселок с неповторим­ым своеобрази­ем. Большая площадь участков,
от 30 соток до 2-х гектаров, предоставляет возможность основать поместье для всей семьи, <strong>Ваше родовое имение</strong>!</div>
        
        //= callback-widget.html
    </div>
</div>