<div class="how-to-buy">
    <div class="container">
        <header class="buy-header">
            <div class="line1">Как купить</div>
            <div class="line2">Участок:</div>
        </header>

        <div class="description">
            Для Вас мы делаем уникальное предложение, которое не смогут повторить дачные поселки Подмосковья и Московской области!
Вы ощутите себя единовластным хозяином <strong>VIP участка</strong> в «Солнечной долине». <strong>Решение за Вами!</strong>
        </div>

        <div class="how-to-buy-steps">
            <div class="step">
                <i class="icon icon-call-phone"></i>
                <div class="caption"><div class="text-uppercased">позвонить</div> нам</div>
            </div>

            <div class="step">
                <i class="icon icon-phone-paper"></i>
                <div class="caption"><div class="text-uppercased">записаться</div> на просмотр</div>
            </div>

            <div class="step">
                <i class="icon icon-map"></i>
                <div class="caption"><div class="text-uppercased">выбрать</div> участок</div>
            </div>

            <div class="step">
                <i class="icon icon-pen-paper"></i>
                <div class="caption"><div class="text-uppercased">подписать</div> договор</div>
            </div>

            <div class="step">
                <i class="icon icon-paper"></i>
                <div class="caption"><div class="text-uppercased">свидетельство</div> о собственности</div>
            </div>

            <div class="step">
                <i class="icon icon-home-tools"></i>
                <div class="caption"><div class="text-uppercased">начать</div> строительство</div>
            </div>
        </div>
    </div>
</div>