<div class="map">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=FxYFMoEslAjt80AxeANibsnhvGduhKmf&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=false"></script>
    
    <div class="map-inner">
        <div class="map-container">
            <div class="description">
                <p class="header"><strong>На автомобиле:</strong></p>
                <p>Проезд к поселку по Киевскому шоссе: 75 километров от МКАД по Киевскому шоссе до поворота на город Боровск, далее 9 километров по второму бетонному кольцу до города Боровск.</p>
                <p class="header"><strong>Проезд к поселку по Калужскому шоссе:</strong></p>
                <p>80 километров от МКАД по Калужскому шоссе до села Воробьи, потом на посту ГАИ нужно повернуть направо 7 километров до города Балабаново, далее через город Балабаново до поворота на город Боровск.</p>
                <p class="header"><strong>На городском транспорте:</strong></p>
                <p>Электричкой от Киевского вокзала до станции Балабаново, потом на автобусе или маршрутке до города Боровск.</p>
            </div>

            <div class="titles">
                <div class="inner">
                    <div class="title1">Как проехать в поселок</div>
                    <div class="title2">“Солнечная долинa”?</div>
                </div>
            </div>
        </div>
    </div>
    
</div>