<div class="news">
    <div class="container">
        <header class="news-header">Последние новости</header>

        <div class="row">
            <div class="article">
                <div class="thumb">
                    <img src="/images/article-img-1.png" alt="">
                </div>

                <div class="body">
                    <a href="#" class="title">Наш поселок стал дебютантом</a>
                    <div class="meta">21.09.2016</div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </div>

                    <a href="#" class="readmore-btn">читать дальше...</a>
                </div>
            </div>

            <div class="article">
                <div class="thumb">
                    <img src="/images/article-img-2.png" alt="">
                </div>

                <div class="body">
                    <a href="#" class="title">Наш поселок стал дебютантом</a>
                    <div class="meta">21.09.2016</div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </div>

                    <a href="#" class="readmore-btn">читать дальше...</a>
                </div>
            </div>
        </div>

        <div class="all-news">
            <a href="#" class="all-news-btn">все новости <span class="icon icon-arrow-right"></span></a>
        </div>
    </div>
</div>