<div id="plan" class="plan">
    <div class="container">
        <div id="plan-switcher" class="title">
            Тишнево -
            <a href="#" data-image="/images/plan.jpg">1</a>
            | <span class="text-white">
                    <a href="#" data-image="http://lorempixel.com/1920/320/abstract/1">2</a>
                  | <a href="#" data-image="http://lorempixel.com/1920/320/abstract/2">3</a>
                </span>
        </div>
        <a href="#" class="link">посмотреть генеральный план</a>
    </div>
</div>