.row-actions {
    height: 250px;
    background: url(../images/action-bg.jpg) no-repeat bottom right;

    .action-ribbon {
        height: 181px;
        background: url(../images/action-ribbon.png) no-repeat;
        background-size: contain;
        position: absolute;
        width: 100%;
        top: -35px;
        box-sizing: border-box;
        font-size: 50px;
        color: white;
        padding-top: 52px;
        padding-left: 402px;
        letter-spacing: 5px;
    }

    .text-1 {
        position: absolute;
        color: #d91d00;
        font-size: 150px;
        top: 56px;
        left: 20px;
    }

    .text-2 {
        position: absolute;
        color: #d91d00;
        font-size: 40px;
        top: 87px;
        left: 244px;
        line-height: 36px;
    }
}