.hero {
    min-width: @container-width;
    height: 949px;
    background: url('../images/hero-bg.jpg') no-repeat top center;
    position: relative;

    .container {
        height: 100%;
    }

    .hero-box {
        position: absolute;
        top: 209px;
        left: 81px;
    }

    .hero-title {
        color: white;
        font-size: 50px;
        margin: 0;
        font-weight: normal;
    }

    .lbl {
        color: #563110;
        font-size: 30px;
        text-transform: lowercase;
    }

    .hero-text-1,
    .hero-text-2 {
        font-size: 18px;
        color: #26272a;
        position: absolute;
    }

    .hero-text-1 {
        top: 335px;
        left: 33px;
        width: 402px;
    }

    .hero-text-2 {
        top: 543px;
        left: 34px;
        width: 328px;
    }

    .widget-callback {
        bottom: 43px;
        position: absolute;
        right: 0;
    }
}