.plan {
    background: url(../images/plan.jpg) no-repeat;
    background-position: top center;
    height: 321px;

    .container {
        height: 321px;
    }

    .title {
        color: #323f15;
        font-size: 50px;
        position: absolute;
        top: 4px;
        left: 14px;
    }

    .link {
        font-size: 30px;
        color: white;
        font-style: italic;
        position: absolute;
        bottom: 17px;
        right: 69px;
        text-decoration: none;
    }
}